.skills {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 36.67%;
  width: 5.63%;
  top: 50%;
  left: 18.14%;
  font-size: var(--font-size-xl);
  font-family: var(--font-italiana);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 36.67%;
  width: 9.16%;
  top: 50%;
  left: 7.31%;
  font-size: var(--font-size-xl);
  font-family: var(--font-italiana);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 36.67%;
  width: 5.63%;
  top: 50%;
  left: 0%;
  font-size: var(--font-size-xl);
  font-family: var(--font-italiana);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kp {
  position: absolute;
  height: 100%;
  width: 12.05%;
  top: -13.33%;
  left: 44.01%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.download-cv {
  text-decoration: underline;
  position: absolute;
  height: 36.67%;
  width: 8.44%;
  top: 50%;
  left: 90.68%;
  font-size: var(--font-size-xl);
  font-family: var(--font-italiana);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.download-cv.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header {
  position: absolute;
  height: 100%;
  width: 99.93%;
  top: 0%;
  right: 0.07%;
  bottom: 0%;
  left: 0%;
}
.frame {
  position: absolute;
  height: 6.11%;
  width: 92.33%;
  top: 3.87%;
  right: 4.1%;
  bottom: 90.02%;
  left: 3.57%;
  overflow: hidden;
  opacity: 0;
}
.frame.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.cstrubedubt {
  position: absolute;
  height: 100%;
  width: 24.54%;
  top: 0%;
  left: 0%;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame1 {
  position: absolute;
  height: 5.8%;
  width: 91.82%;
  top: 92.46%;
  right: 4.09%;
  bottom: 1.73%;
  left: 4.09%;
  overflow: hidden;
  font-size: var(--font-size-xl);
  font-family: var(--font-rubik);
}
.hi-i-am {
  margin: 0;
}
.hi-i-am-container1 {
  line-break: anywhere;
  width: 100%;
}
.hi-i-am-container {
  position: absolute;
  height: 19.23%;
  width: 30.63%;
  top: 23.9%;
  left: 0%;
  text-transform: uppercase;
  white-space: pre-wrap;
  display: none;
  align-items: center;
}
.im-currently-taking {
  position: absolute;
  height: 34.04%;
  width: 58.37%;
  top: 54.16%;
  left: 40.82%;
  text-transform: uppercase;
  display: none;
  align-items: center;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-white);
  backdrop-filter: blur(4px);
  cursor: pointer;
}
.group-item {
  position: absolute;
  width: 36.31%;
  top: 50%;
  right: 31.84%;
  left: 31.84%;
  max-width: 100%;
  overflow: hidden;
  height: 0px;
}
.ellipse-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 26.32%;
  width: 18.27%;
  top: 3.63%;
  right: 19.49%;
  bottom: 70.05%;
  left: 62.24%;
  display: none;
}
.about-me {
  position: absolute;
  top: 209px;
  left: 595px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 52px;
}
.image-1-icon {
  position: absolute;
  height: 100%;
  width: 39.79%;
  top: 2.12%;
  right: 60.21%;
  bottom: -2.12%;
  left: 0%;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame3 {
  position: absolute;
  height: 100%;
  width: 67.29%;
  top: -2.12%;
  right: -0.94%;
  bottom: 2.12%;
  left: 33.65%;
  overflow: hidden;
  text-align: left;
}
.frame2 {
  position: absolute;
  height: 67.31%;
  width: 98.68%;
  top: 12.83%;
  right: -1.19%;
  bottom: 19.86%;
  left: 2.51%;
  overflow: hidden;
  font-size: var(--font-size-16xl);
  font-family: var(--font-italiana);
}
.image-2 {
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 39.4px;
  background-image: url("./public/image-2@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image-4 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 40px;
}
.image-3 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 39.3px;
  background-image: url("./public/image-3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image-5 {
  text-decoration: none;
  position: relative;
  width: 57.2px;
  height: 43px;
  background-image: url("./public/image-5@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image-2-parent {
  position: absolute;
  height: 4.38%;
  width: 21.06%;
  top: 85.44%;
  right: 40.58%;
  bottom: 10.18%;
  left: 38.36%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.macbook-pro-14-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  background-image: url("./public/macbook-pro-14--3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: var(--font-redressed);
}
.child {
  position: absolute;
  height: 12.22%;
  width: 8.27%;
  top: 14.77%;
  right: 88.62%;
  bottom: 73.01%;
  left: 3.11%;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.my-background {
  position: absolute;
  height: 4.48%;
  width: 22.29%;
  top: 20.88%;
  left: 3.11%;
  font-size: var(--font-size-13xl);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-graduated-from {
  position: absolute;
  height: 27.9%;
  width: 23.35%;
  top: 29.94%;
  left: 4.56%;
  font-size: var(--font-size-xl);
  text-align: left;
  display: flex;
  align-items: center;
}
.frame-child {
  position: absolute;
  height: 99.76%;
  width: 99.76%;
  top: 0.15%;
  right: 0.1%;
  bottom: 0.1%;
  left: 0.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.view-my-goals {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 14.18%;
  width: 88.02%;
  top: 43.18%;
  left: 6.01%;
  font-size: var(--font-size-xl);
  text-decoration: underline;
  font-family: var(--font-italiana);
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-parent {
  position: absolute;
  height: 20.82%;
  width: 13.53%;
  top: 33.4%;
  right: 9.95%;
  bottom: 45.77%;
  left: 76.52%;
  cursor: pointer;
}
.about-me1 {
  position: absolute;
  height: 11.61%;
  width: 42.66%;
  top: 50%;
  left: 26.46%;
  font-size: var(--font-size-109xl);
  text-transform: capitalize;
  color: #3d3947;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 33.33%;
  right: 0%;
  bottom: 50%;
  left: 0%;
}
.image-1-icon1 {
  position: absolute;
  height: 100%;
  width: 39.69%;
  top: 0%;
  right: 60.31%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.image-41 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 40px;
  background-image: url("./public/image-4@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image-31 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 39.3px;
  background-image: url("./public/image-31@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image-51 {
  text-decoration: none;
  position: relative;
  width: 57.2px;
  height: 43px;
  background-image: url("./public/image-51@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.macbook-pro-14-5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  background-image: url("./public/macbook-pro-14--3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-item {
  position: absolute;
  height: 17.94%;
  width: 8.57%;
  top: 0%;
  right: 91.43%;
  bottom: 82.06%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.frame-inner {
  position: absolute;
  height: 17.94%;
  width: 8.57%;
  top: 4.48%;
  right: 2.82%;
  bottom: 77.58%;
  left: 88.61%;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.at-college-of {
  position: absolute;
  height: 48.88%;
  width: 31.48%;
  top: 17.94%;
  left: 0%;
  text-align: left;
  display: flex;
  align-items: center;
}
.my-aspirations {
  position: absolute;
  height: 8.97%;
  width: 21.61%;
  top: 8.97%;
  left: 1.64%;
  font-size: var(--font-size-13xl);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-goals {
  position: absolute;
  height: 10.16%;
  width: 17.7%;
  top: 12.26%;
  left: 79.08%;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pursue-a-career {
  margin-bottom: 0px;
}
.pursue-a-career-as-a-backend-d {
  margin: 0;
  padding-left: 27px;
}
.pursue-a-career-container {
  position: absolute;
  height: 42.9%;
  width: 29.56%;
  top: 17.34%;
  left: 70.44%;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: left;
  display: flex;
  align-items: center;
}
.image-2-icon {
  position: absolute;
  height: 99.1%;
  width: 28.95%;
  top: 1.05%;
  right: 36.01%;
  bottom: -0.15%;
  left: 35.04%;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.goals {
  position: absolute;
  height: 20.36%;
  width: 27.09%;
  top: 76.83%;
  left: 48.9%;
  font-size: var(--font-size-109xl);
  text-transform: uppercase;
  color: #aebcc9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-container {
  position: absolute;
  height: 68.13%;
  width: 92.99%;
  top: 15.99%;
  right: 4.76%;
  bottom: 15.89%;
  left: 2.25%;
  font-size: var(--font-size-xl);
  font-family: var(--font-italiana);
}
.div1 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 50%;
  right: 0%;
  bottom: 33.33%;
  left: 0%;
  font-family: var(--font-redressed);
}
.image-32 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 39.3px;
  background-image: url("./public/image-32@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.div3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  background-image: url("./public/macbook-pro-14--3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-29xl);
  font-family: var(--font-redressed);
}
.image-10-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 45.93%;
  right: 47.35%;
  bottom: 45.93%;
  left: 47.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-9-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 26.27%;
  right: 47.35%;
  bottom: 65.58%;
  left: 47.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.github {
  position: absolute;
  height: 5.5%;
  width: 12.57%;
  top: 21.28%;
  left: 15.15%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.python {
  position: absolute;
  height: 5.91%;
  width: 18.72%;
  top: 40.63%;
  left: 12.04%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kaggle {
  position: absolute;
  height: 6.31%;
  width: 18.92%;
  top: 40.63%;
  left: 68.39%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leetcode {
  position: absolute;
  height: 6.01%;
  width: 20.57%;
  top: 20.77%;
  left: 39.68%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vs-code {
  position: absolute;
  height: 2.95%;
  width: 18.12%;
  top: 42.26%;
  left: 41.14%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.figma {
  position: absolute;
  height: 5.91%;
  width: 19.31%;
  top: 20.77%;
  left: 68.19%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-6-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 26.27%;
  right: 75.93%;
  bottom: 65.58%;
  left: 18.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-7-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 45.93%;
  right: 75.93%;
  bottom: 45.93%;
  left: 18.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-8-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 45.93%;
  right: 19.51%;
  bottom: 45.93%;
  left: 75.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-11-icon {
  position: absolute;
  height: 8.15%;
  width: 5.29%;
  top: 26.27%;
  right: 19.51%;
  bottom: 65.58%;
  left: 75.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div2 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 66.67%;
  right: 0%;
  bottom: 16.67%;
  left: 0%;
  font-size: var(--font-size-5xl);
}
.image-33 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 39.3px;
  display: none;
}
.image-19-icon {
  position: absolute;
  height: 4.89%;
  width: 3.17%;
  top: 34.83%;
  right: 63.23%;
  bottom: 60.29%;
  left: 33.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-18-icon {
  position: absolute;
  height: 6.72%;
  width: 4.76%;
  top: 24.24%;
  right: 62.43%;
  bottom: 69.04%;
  left: 32.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-16-icon {
  position: absolute;
  height: 9.06%;
  width: 5.89%;
  top: 43.48%;
  right: 90.94%;
  bottom: 47.45%;
  left: 3.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-15-icon {
  position: absolute;
  height: 10.69%;
  width: 6.94%;
  top: 23.42%;
  right: 27.38%;
  bottom: 65.89%;
  left: 65.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-14-icon {
  position: absolute;
  height: 4.89%;
  width: 3.17%;
  top: 45.11%;
  right: 63.23%;
  bottom: 50%;
  left: 33.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-13-icon {
  position: absolute;
  height: 4.89%;
  width: 3.17%;
  top: 35.03%;
  right: 92.79%;
  bottom: 60.08%;
  left: 4.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-12-icon {
  position: absolute;
  height: 6.72%;
  width: 4.76%;
  top: 23.52%;
  right: 92%;
  bottom: 69.76%;
  left: 3.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.programming-languages {
  position: absolute;
  height: 6.92%;
  width: 18.98%;
  top: 23.73%;
  left: 9.06%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.problem-solving {
  position: absolute;
  height: 5.4%;
  width: 13.49%;
  top: 34.83%;
  left: 9.06%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.critical-thinking-and {
  position: absolute;
  height: 7.54%;
  width: 21.96%;
  top: 24.24%;
  left: 38.96%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ml-and-ai {
  position: absolute;
  height: 5.19%;
  width: 8.66%;
  top: 45.42%;
  left: 9.85%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.web-development {
  position: absolute;
  height: 4.79%;
  width: 13.1%;
  top: 35.13%;
  left: 39.62%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uiux-design {
  position: absolute;
  height: 5.3%;
  width: 11.04%;
  top: 45.42%;
  left: 38.96%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-structures-and {
  position: absolute;
  height: 5.19%;
  width: 19.25%;
  top: 26.88%;
  left: 70.57%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 83.33%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  font-size: var(--font-size-5xl);
}
.n-1-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0;
}
.n-1-icon.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.from-this-day-container {
  position: absolute;
  height: 17.32%;
  width: 34.99%;
  top: 22.4%;
  left: 8.2%;
  white-space: pre-wrap;
  display: inline-block;
}
.frame16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
}
.macbook-pro-14-1 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 83.33%;
  left: 0%;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  opacity: 0;
  text-align: justify;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
}
.macbook-pro-14-1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.hi-i-am-container8 {
  position: absolute;
  height: 19.23%;
  width: 30.63%;
  top: 23.9%;
  left: 0%;
  text-transform: uppercase;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.im-currently-taking4 {
  position: absolute;
  height: 34.04%;
  width: 58.37%;
  top: 54.16%;
  left: 40.82%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.group-child5 {
  position: absolute;
  height: 12.7%;
  width: 37.13%;
  top: 43.68%;
  right: 31.03%;
  bottom: 43.62%;
  left: 31.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 26.32%;
  width: 18.27%;
  top: 3.63%;
  right: 19.49%;
  bottom: 70.05%;
  left: 62.24%;
}
.about-me5 {
  position: absolute;
  top: 209px;
  left: 595px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 52px;
}
.image-24 {
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 39.4px;
  background-image: url("./public/image-2@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-44 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 40px;
  background-image: url("./public/image-4@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-34 {
  text-decoration: none;
  position: relative;
  width: 41.6px;
  height: 39.3px;
  background-image: url("./public/image-3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-54 {
  text-decoration: none;
  position: relative;
  width: 57.2px;
  height: 43px;
  background-image: url("./public/image-52@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div6 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 16.67%;
  right: 0%;
  bottom: 66.67%;
  left: 0%;
  overflow: hidden;
  background-image: url("./public/macbook-pro-14--3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: var(--font-redressed);
}
.parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5892px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-italiana);
}

@media screen and (max-width: 1200px) {
  .hi-i-am-container {
    font-size: var(--font-size-5xl);
  }

  .im-currently-taking {
    font-size: var(--font-size-5xl);
    text-align: center;
  }

  .image-2 {
    width: 30px;
    height: 30px;
  }

  .image-4 {
    width: 30px;
    height: 30px;
  }

  .image-3 {
    width: 30px;
    height: 30px;
  }

  .image-5 {
    width: 30px;
    height: 30px;
  }

  .image-41 {
    width: 30px;
    height: 30px;
  }

  .image-31 {
    width: 30px;
    height: 30px;
  }

  .image-51 {
    width: 30px;
    height: 30px;
  }

  .image-32 {
    width: 30px;
    height: 30px;
  }

  .image-33 {
    width: 30px;
    height: 30px;
  }

  .n-1-icon {
    width: 1900px;
  }

  .from-this-day-container {
    font-size: 17px;
  }

  .hi-i-am-container8 {
    font-size: var(--font-size-5xl);
  }

  .im-currently-taking4 {
    font-size: var(--font-size-5xl);
    text-align: center;
  }

  .image-24 {
    width: 30px;
    height: 30px;
  }

  .image-44 {
    width: 30px;
    height: 30px;
  }

  .image-34 {
    width: 30px;
    height: 30px;
  }

  .image-54 {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 420px) {
  .skills {
    font-size: var(--font-size-3xs);
  }

  .experience {
    font-size: var(--font-size-3xs);
  }

  .home {
    font-size: var(--font-size-3xs);
  }

  .kp {
    font-size: var(--font-size-mini);
  }

  .download-cv {
    font-size: var(--font-size-3xs);
  }

  .about-me {
    font-size: var(--font-size-3xs);
  }

  .from-this-day-container {
    font-size: var(--font-size-3xs);
  }

  .about-me5 {
    font-size: var(--font-size-3xs);
  }
}
